# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
/media
/staticfiles
.env
*.env

# VS Code / IDE
.vscode/
.idea/
*.swp
*.swo

# Python virtual environment
venv/
env/
ENV/
.venv/
*.egg-info/
dist/
build/

# macOS
.DS_Store

# Node modules (if you use frontend packages)
node_modules/
db.sqlite3
Backend/db.sqlite3
